<section>
  <p><span class="font-bold">Application date:</span> <%= @job_application.application_date %></p>
  <p><span class="font-bold">Position:</span> <%= @job_application.position %></p>
  <p><span class="font-bold">Company:</span> <%= @job_application.company %></p>
  <p><span class="font-bold">Platform:</span> <%= @job_application.platform %></p>
  <p><span class="font-bold">State:</span> <%= @job_application.state %></p>
</section>

<section>
  <%= link_to 'Back', job_application_index_path %>
</section>
