<h2>Job Applications</h2>
<div>
  <% @job_applications.each do |application| %>
    <p>
      <%= application.application_date %>, 
      <%= link_to application.application_position, application %>, 
      <%= application.application_company%>, 
      <%= application.application_platform %>, 
      <%= application_state_translated(application.application_state) %>,
      
      <%= link_to "Update", edit_job_application_path(application) %>, 
      <%= link_to "Destroy", job_application_path(application), data: { 
                      turbo_method: :delete, 
                      turbo_confirm: "Are you sure?" 
                    } %></p>
  <% end %>
</div>
<p><%= link_to "New job application", new_job_application_path %></p>
<%# TODO display image existing for each appications %>
<%# TODO display thumbnail that can be scaled %>
