<section>
  <h2><%= @job_application.platform %> - <%=@job_application.company %> - <%= @job_application.position %></h2>
  <p><span class="font-bold">Application date:</span> <%= @job_application.application_date %></p>
  <p><span class="font-bold">Position:</span> <%= @job_application.position %></p>
  <p><span class="font-bold">Company:</span> <%= @job_application.company %></p>
  <p><span class="font-bold">Platform:</span> <%= @job_application.platform %></p>
  <p><span class="font-bold">State:</span> <%= humanized_states(@job_application.state) %></p>
</section>

<section>
  <%= link_to 'Back', job_applications_path %>
  <%= link_to 'Edit', edit_job_application_path(@job_application) %>
  <%= button_to "Delete", @job_application, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</section>
